:root {
    --white: rgb(25, 42, 73);
    --background: rgb(23, 30, 61);
    --yellow: rgb(66, 27, 184);
    --yellow-2: rgb(43, 17, 122);
    --paragraph-font: rgb(197, 197, 197);
    --black: rgb(212, 212, 212);
    --bottom-line: rgb(50, 49, 117);
}