:root {
    --white: #FFFFFF;
    --background: #F0F0F6;
    --yellow: #FFB400;
    --yellow-2: #ffda83;
    --black: #2B2B2B;
    --dark-background: #18191A;
    --paragraph-font: #767676;
    --available: #7EB942;
    --bottom-line: rgb(223, 223, 223);
}

::selection {
    color: var(--white);
    background-color: var(--paragraph-font);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

body {
    background-color: var(--background);
    scroll-behavior: smooth;
    position: relative;
    color: var(--paragraph-font);
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-style: normal;
    flex-shrink: 0;
    text-transform: capitalize;
    transition: all .7s ease-in-out;
}